
@font-face {
    font-family: 'RobotoR';
    src: url('fonts/Roboto-Regular/Roboto-Regular.eot');
    src: local('☺'), url('fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    url('fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'RobotoThIt';
    src: url('fonts/Roboto-ThinItalic/Roboto-ThinItalic.eot');
    src: local('☺'), url('fonts/Roboto-ThinItalic/Roboto-ThinItalic.woff') format('woff'),
    url('fonts/Roboto-ThinItalic/Roboto-ThinItalic.ttf') format('truetype');
}

/*Nexa*/

@font-face {
    font-family: 'NexaBold';
    src: url('fonts/NexaBold/NexaBold.eot');
    src: local('☺'), url('fonts/NexaBold/NexaBold.woff') format('woff'),
    url('fonts/NexaBold/NexaBold.ttf') format('truetype');
}