/* colors */
/* colors */
/*fonts*/
/*functions*/
.nonScroll {
  overflow: hidden;
  height: 100%;
}
.burger {
  display: none;
}
.hidden {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.full {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.text-underline {
  text-decoration: underline;
}
.clear {
  clear: both;
  *zoom: 1;
  height: 0;
  visibility: hidden;
  display: block;
  content: "";
}
.vam {
  vertical-align: middle;
}
.vat {
  vertical-align: top;
}
.vab {
  vertical-align: bottom;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'RobotoR', sans-serif;
  color: #4e5052;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  * {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  * {
    font-size: 13px;
  }
}
/* For modern browsers */
.clearfix:after,
.container:after,
.row:after {
  clear: both;
}
/* для IE6-7 */
.clearfix,
.container,
.row {
  zoom: 1;
  position: relative;
}
.fll {
  float: left;
}
.flr {
  float: right;
}
.fln {
  float: none;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.ttu {
  text-transform: uppercase;
}
.ttn {
  text-transform: none;
}
.h-nav {
  margin: 0;
  padding: 0;
  letter-spacing: normal;
}
.h-nav li {
  display: inline-block;
}
.bd100 {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.w100p {
  width: 100%;
}
.w50p {
  width: 50%;
}
.justify {
  text-align: justify;
  font-size: 0.01px;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.justify .left,
.justify .right {
  display: inline-block;
  line-height: normal;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*------------------------Градиенты---------------------------*/
/*------------------------Градиенты---------------------------*/
/*----------------------Трансформация--------------------------*/
/*----------------------Трансформация--------------------------*/
.pos-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.pos-centerY {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pos-centerX {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
/*functions*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}
/*animations*/
/*------------------------move bg---------------------------*/
/*animations*/
/*default*/
body {
  min-height: 100%;
  height: 100%;
  background: #fff;
}
html {
  height: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
i.fa {
  color: inherit;
}
.container {
  width: 100%;
  padding: 0 100px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    padding: 0 35px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}
/*top section*/
.topSection {
  height: calc(100% - 24px);
  background-image: url('../img/topBg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding-top: 115px;
  padding-bottom: 150px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .topSection {
    padding-top: 80px;
    padding-bottom: 90px;
    height: calc(100% - 20px);
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .topSection {
    padding-top: 45px;
    padding-bottom: 110px;
    height: calc(100% - 14px);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .topSection {
    background-position: right center;
  }
}
@media only screen and (max-width: 767px) {
  .topSection {
    background-position: 70%;
    padding-bottom: 80px;
    padding-top: 35px;
    height: calc(100% - 8px);
  }
}
.topSection:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 165px 86px 165px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: 0;
  right: 20%;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px) {
  .topSection:after {
    border-width: 0 135px 55px 135px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .topSection:after {
    border-width: 0 100px 40px 100px;
    right: 50%;
    bottom: -1px;
    -webkit-transform: translate(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%);
    -o-transform: translate(50%);
    transform: translate(50%);
  }
}
.topSection .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.topSection .logo {
  display: block;
  height: 170px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .topSection .logo {
    height: 110px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .topSection .logo {
    height: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .topSection .logo {
    height: 60px;
  }
}
.topSection .logo img {
  height: 100%;
}
.topSection .info {
  text-align: center;
}
.topSection h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 9.375rem;
  background: #00ad5e;
  padding: 0 100px;
  display: inline-block;
  letter-spacing: -0.02em;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .topSection h1 {
    font-size: 6.875rem;
    padding: 0 60px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .topSection h1 {
    font-size: 5rem;
    padding: 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .topSection h1 {
    font-size: 3.125rem;
    display: block;
    text-align: center;
    padding: 0 20px;
  }
}
@media only screen and (max-width: 480px) {
  .topSection h1 {
    font-size: 2.1875rem;
    padding: 7px 20px;
  }
}
.topSection h1 em {
  font-family: 'RobotoThIt', sans-serif;
  color: inherit;
  font-size: inherit;
  letter-spacing: -0.02em;
}
.topSection h3 {
  color: #fff;
  font-size: 4.375rem;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .topSection h3 {
    font-size: 3.4375rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .topSection h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .topSection h3 {
    font-size: 2.1875rem;
  }
}
@media only screen and (max-width: 480px) {
  .topSection h3 {
    font-size: 1.125rem;
  }
}
/*main*/
main {
  margin-top: 20px;
  position: relative;
  padding-bottom: 74px;
  background-image: url('../img/pattern.png');
  background-position: 0 0;
  background-attachment: fixed;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  main {
    padding-bottom: 35px;
    margin-top: 20px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    padding-bottom: 35px;
    margin-top: 14px;
  }
}
@media only screen and (max-width: 767px) {
  main {
    padding-bottom: 15px;
    margin-top: 8px;
  }
}
main:before {
  content: '';
  display: block;
  width: 100%;
  height: 215px;
  background: #00ad5e;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  main:before {
    height: 140px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  main:before {
    height: 100px;
  }
}
@media only screen and (max-width: 767px) {
  main:before {
    height: 80px;
  }
}
main:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 165px 86px 165px;
  border-color: transparent transparent #00ad5e transparent;
  position: absolute;
  top: -86px;
  right: 20%;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px) {
  main:after {
    border-width: 0 135px 55px 135px;
    top: -55px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  main:after {
    border-width: 0 100px 40px 100px;
    right: 50%;
    top: -39px;
    -webkit-transform: translate(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%);
    -o-transform: translate(50%);
    transform: translate(50%);
  }
}
main .wrapper {
  padding: 100px 0;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px) {
  main .wrapper {
    padding: 65px 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  main .wrapper {
    padding: 50px 0;
  }
}
@media only screen and (max-width: 767px) {
  main .wrapper {
    padding: 35px 0;
  }
}
.informationBox {
  display: flex;
  margin: 0 -40px 80px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px) {
  .informationBox {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .informationBox {
    margin: 0 -20px 40px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .informationBox {
    flex-direction: column;
    margin: 0 0 30px;
  }
}
.informationBox .item {
  width: 50%;
  padding: 0 40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .informationBox .item {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .informationBox .item {
    width: 100%;
    margin-bottom: 20px;
    padding: 0;
  }
}
.informationBox .ttl {
  font-family: 'NexaBold', sans-serif;
  font-size: 3.4375rem;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 50px;
  text-align: center;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .informationBox .ttl {
    font-size: 2.1875rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .informationBox .ttl {
    font-size: 1.875rem;
    margin-bottom: 35px;
  }
}
@media only screen and (max-width: 767px) {
  .informationBox .ttl {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
}
.informationBox li {
  font-size: 2.5rem;
  letter-spacing: 0.02em;
  position: relative;
  padding-left: 90px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .informationBox li {
    font-size: 1.5rem;
    padding-left: 60px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .informationBox li {
    font-size: 1.125rem;
    padding-left: 45px;
  }
}
@media only screen and (max-width: 767px) {
  .informationBox li {
    font-size: 1rem;
    padding-left: 30px;
    margin-bottom: 10px;
  }
}
.informationBox li:before {
  content: '';
  display: block;
  background-image: url('../img/ico/check.png');
  background-size: contain;
  width: 55px;
  height: 55px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px) {
  .informationBox li:before {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .informationBox li:before {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .informationBox li:before {
    width: 20px;
    height: 20px;
  }
}
.informationBox .text p {
  font-size: 1.875rem;
  line-height: 1.4;
  letter-spacing: 0.02em;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .informationBox .text p {
    font-size: 1.25rem;
    line-height: 1.6;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .informationBox .text p {
    font-size: 1.125rem;
    line-height: 1.6;
  }
}
@media only screen and (max-width: 767px) {
  .informationBox .text p {
    font-size: 1rem;
  }
}
.listBox {
  display: flex;
  margin: 0 -40px;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .listBox {
    margin: 0 -20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .listBox {
    flex-wrap: wrap;
    margin: 0;
  }
}
.listBox .item {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  position: relative;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .listBox .item {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .listBox .item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .listBox .item {
    width: 100%;
    margin-bottom: 25px;
    padding: 0 0 15px;
  }
}
.listBox .item:after {
  content: '';
  display: block;
  height: calc(100% - 115px);
  width: 3px;
  background: #d7d6d8;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media only screen and (max-width: 767px) {
  .listBox .item:after {
    height: 1px;
    width: 100%;
    left: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .listBox .item:nth-child(2n):after {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .listBox .item:nth-child(2n):after {
    display: block;
  }
}
.listBox .item:last-of-type:after {
  display: none;
}
@media only screen and (max-width: 767px) {
  .listBox .item:last-of-type {
    margin-bottom: 0;
  }
}
.listBox .item .img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #00ad5e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .listBox .item .img {
    margin-bottom: 25px;
    width: 125px;
    height: 125px;
    padding: 35px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .listBox .item .img {
    width: 100px;
    height: 100px;
    padding: 30px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .listBox .item .img {
    width: 80px;
    height: 80px;
    padding: 20px;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .listBox .item .img img {
    width: 100%;
  }
}
.listBox .item .ttl {
  font-size: 3.125rem;
  text-transform: uppercase;
  font-family: 'NexaBold', sans-serif;
  color: #000;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .listBox .item .ttl {
    font-size: 2rem;
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .listBox .item .ttl {
    font-size: 1.5625rem;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .listBox .item .ttl {
    font-size: 1.375rem;
    margin-bottom: 10px;
  }
}
.listBox .item p {
  font-size: 1.875rem;
  line-height: 1.4;
  text-align: center;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  .listBox .item p {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  .listBox .item p {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 767px) {
  .listBox .item p {
    font-size: 1rem;
  }
}
/*footer*/
footer {
  background: #00ad5e;
}
footer .footer-wrap {
  padding: 20px 55px;
  display: flex;
  justify-content: space-between;
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-wrap {
    padding: 15px 35px;
  }
}
@media only screen and (max-width: 767px) {
  footer .footer-wrap {
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  footer .code {
    height: 80px;
  }
  footer .code img {
    height: 100%;
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  footer .code {
    text-align: center;
  }
}
footer .contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 80%;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px) {
  footer .contacts {
    flex-basis: 65%;
  }
}
@media only screen and (max-width: 767px) {
  footer .contacts {
    flex-basis: 100%;
    flex-direction: column;
    align-items: flex-start;
  }
}
footer .contacts li {
  width: 50%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  footer .contacts li {
    width: auto;
    flex-wrap: wrap;
  }
}
footer .contacts li .ico {
  margin-right: 15px;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px) {
  footer .contacts li .ico {
    margin-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  footer .contacts li .ico {
    margin-right: 0;
  }
}
footer .contacts a,
footer .contacts span {
  color: #fff;
}
footer .contacts a {
  font-size: 2.1875rem;
  text-transform: uppercase;
  letter-spacing: -0.02em;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  footer .contacts a {
    font-size: 1.375rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .contacts a {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 767px) {
  footer .contacts a {
    font-size: 0.875rem;
  }
}
footer .contacts span {
  font-size: 1.875rem;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  footer .contacts span {
    font-size: 1.25rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .contacts span {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 767px) {
  footer .contacts span {
    font-size: 0.875rem;
  }
}
.ico {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (min-width: 1367px) and (max-width: 1680px), only screen and (min-width: 1024px) and (max-width: 1366px), only screen and (min-width: 768px) and (max-width: 1023px), only screen and (max-width: 767px) {
  .ico {
    background-size: 60%;
  }
}
.ico.ico-phone {
  background-image: url('../img/ico/ico-phone.png');
  width: 43px;
  height: 47px;
}
.ico.ico-male {
  background-image: url('../img/ico/ico-male.png');
  width: 41px;
  height: 26px;
}
.ico.ico-loc {
  background-image: url('../img/ico/ico-loc.png');
  width: 42px;
  height: 39px;
}
