@import "mixins";
/*default*/
body {
  min-height: 100%;
  height: 100%;
  background: #fff;

}

html {
  height: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

i.fa {
  color: inherit;
}

.container {
  width: 100%;
  padding: 0 100px;
  @media @desktop, @tablet {
    padding: 0 35px;
  }
  @media @mobile {
    padding: 0 15px;
  }
}

/*top section*/
.topSection {
  height: ~'calc(100% - 24px)';
  background-image: url('../img/topBg.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  padding-top: 115px;
  padding-bottom: 150px;
  @media @desktop-xl {
    padding-top: 80px;
    padding-bottom: 90px;
    height: ~'calc(100% - 20px)';
  }
  @media @desktop, @tablet {
    padding-top: 45px;
    padding-bottom: 110px;
    height: ~'calc(100% - 14px)';
  }
  @media @tablet {
    background-position: right center;
  }
  @media @mobile {
    background-position: 70%;
    padding-bottom: 80px;
    padding-top: 35px;
    height: ~'calc(100% - 8px)';
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 165px 86px 165px;;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    bottom: 0;
    right: 20%;
    @media @desktop-xl, @desktop {
      border-width: 0 135px 55px 135px;
    }
    @media @tablet, @mobile {
      border-width: 0 100px 40px 100px;
      right: 50%;
      bottom: -1px;
      .transform(translate(50%));
    }
  }
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .logo {
    display: block;
    height: 170px;
    @media @desktop-xl {
      height: 110px;
    }
    @media @desktop, @tablet {
      height: 80px;
    }
    @media @mobile {
      height: 60px;
    }
    img {
      height: 100%;
    }
  }
  .info {
    text-align: center;
  }
  h1 {
    color: #fff;
    text-transform: uppercase;
    .font-size(150);
    background: @green;
    padding: 0 100px;
    display: inline-block;
    .letter-spacing(-20);
    margin-bottom: 5px;
    @media @desktop-xl {
      .font-size(110);
      padding: 0 60px;
    }
    @media @desktop, @tablet {
      .font-size(80);
      padding: 0 40px;
    }
    @media @mobile {
      .font-size(50);
      display: block;
      text-align: center;
      padding: 0 20px;
    }
    @media @mobile-xs {
      .font-size(35);
      padding: 7px 20px;
    }
    em {
      font-family: @RTI;
      color: inherit;
      font-size: inherit;
      .letter-spacing(-20);
    }
  }
  h3 {
    color: #fff;
    .font-size(70);
    .letter-spacing(20);
    @media @desktop-xl {
      .font-size(55);
    }
    @media @desktop, @tablet {
      .font-size(40);
    }
    @media @mobile {
      .font-size(35);
    }
    @media @mobile-xs {
      .font-size(18);
    }
  }
}

/*main*/
main {
  margin-top: 20px;
  position: relative;
  padding-bottom: 74px;
  background-image: url('../img/pattern.png');
  background-position: 0 0;
  background-attachment: fixed;
  @media @desktop-xl {
    padding-bottom: 35px;
    margin-top: 20px;
  }
  @media @desktop, @tablet {
    padding-bottom: 35px;
    margin-top: 14px;
  }
  @media @mobile {
    padding-bottom: 15px;
    margin-top: 8px;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 215px;
    background: @green;
    @media @desktop-xl {
      height: 140px;
    }
    @media @desktop, @tablet {
      height: 100px;
    }
    @media @mobile {
      height: 80px;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 165px 86px 165px;
    border-color: transparent transparent @green transparent;
    position: absolute;
    top: -86px;
    right: 20%;
    @media @desktop-xl, @desktop {
      border-width: 0 135px 55px 135px;
      top: -55px;
    }
    @media @tablet, @mobile {
      border-width: 0 100px 40px 100px;
      right: 50%;
      top: -39px;
      .transform(translate(50%));
    }
  }
  .wrapper {
    padding: 100px 0;
    @media @desktop-xl, @desktop {
      padding: 65px 0;
    }
    @media @tablet {
      padding: 50px 0;
    }
    @media @mobile {
      padding: 35px 0;
    }
  }
}

.informationBox {
  display: flex;
  margin: 0 -40px 80px;
  @media @desktop-xl, @desktop {
    margin-bottom: 50px;
  }
  @media @desktop {
    margin: 0 -20px 40px;
  }
  @media @tablet, @mobile {
    flex-direction: column;
    margin: 0 0 30px;
  }
  .item {
    width: 50%;
    padding: 0 40px;
    @media @desktop {
      padding: 0 20px;
    }
    @media @tablet, @mobile {
      width: 100%;
      margin-bottom: 20px;
      padding: 0;
    }
  }
  .ttl {
    font-family: @NB;
    .font-size(55);
    .ttu;
    color: #000;
    margin-bottom: 50px;
    text-align: center;
    @media @desktop-xl {
      .font-size(35);
    }
    @media @desktop, @tablet {
      .font-size(30);
      margin-bottom: 35px;
    }
    @media @mobile {
      .font-size(24);
      margin-bottom: 15px;
    }
  }
  li {
    .font-size(40);
    .letter-spacing(20);
    position: relative;
    padding-left: 90px;
    margin-bottom: 20px;
    @media @desktop-xl {
      .font-size(24);
      padding-left: 60px;
    }
    @media @desktop, @tablet {
      .font-size(18);
      padding-left: 45px;
    }
    @media @mobile {
      .font-size(16);
      padding-left: 30px;
      margin-bottom: 10px;
    }
    &:before {
      content: '';
      display: block;
      background-image: url('../img/ico/check.png');
      background-size: contain;
      width: 55px;
      height: 55px;
      position: absolute;
      left: 0;
      top: 50%;
      .transform(translateY(-50%));
      @media @desktop-xl, @desktop {
        width: 40px;
        height: 40px;
      }
      @media @desktop, @tablet {
        width: 30px;
        height: 30px;
      }
      @media @mobile {
        width: 20px;
        height: 20px;
      }
    }
  }
  .text {
    p {
      .font-size(30);
      line-height: 1.4;
      .letter-spacing(20);
      @media @desktop-xl {
        .font-size(20);
        line-height: 1.6;
      }
      @media @desktop, @tablet {
        .font-size(18);
        line-height: 1.6;
      }
      @media @mobile {
        .font-size(16);
      }
    }
  }
}

.listBox {
  display: flex;
  margin: 0 -40px;
  @media @desktop, @tablet {
    margin: 0 -20px;
  }
  @media @tablet, @mobile {
    flex-wrap: wrap;
    margin: 0;
  }
  .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    position: relative;
    @media @desktop, @tablet {
      padding: 0 20px;
    }
    @media @tablet {
      width: 50%;
      margin-bottom: 20px;
    }
    @media @mobile {
      width: 100%;
      margin-bottom: 25px;
      padding: 0 0 15px;
    }
    &:after {
      content: '';
      display: block;
      height: ~'calc(100% - 115px)';
      width: 3px;
      background: @border;
      position: absolute;
      right: 0;
      bottom: 0;
      @media @mobile {
        height: 1px;
        width: 100%;
        left: 0;
      }
    }
    &:nth-child(2n) {
      &:after {
        @media @tablet, @mobile {
          display: none;
        }
        @media @mobile {
          display: block;
        }
      }
    }
    &:last-of-type {
      &:after {
        display: none;
      }
      @media @mobile {
        margin-bottom: 0;
      }
    }
    .img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: @green;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      @media @desktop-xl {
        margin-bottom: 25px;
        width: 125px;
        height: 125px;
        padding: 35px;
      }
      @media @desktop, @tablet {
        width: 100px;
        height: 100px;
        padding: 30px;
        margin-bottom: 20px;
      }
      @media @mobile {
        width: 80px;
        height: 80px;
        padding: 20px;
      }
      img {
        @media @desktop-xl, @desktop, @tablet, @mobile {
          width: 100%;
        }
      }
    }
    .ttl {
      .font-size(50);
      .ttu;
      font-family: @NB;
      color: #000;
      .letter-spacing(20);
      margin-bottom: 40px;
      @media @desktop-xl {
        .font-size(32);
        margin-bottom: 25px;
      }
      @media @desktop, @tablet {
        .font-size(25);
        margin-bottom: 15px;
      }
      @media @mobile {
        .font-size(22);
        margin-bottom: 10px;
      }
    }
    p {
      .font-size(30);
      line-height: 1.4;
      text-align: center;
      @media @desktop-xl {
        .font-size(20);
      }
      @media @desktop, @tablet {
        .font-size(18);
      }
      @media @mobile {
        .font-size(16);
      }
    }
  }
}

/*footer*/
footer {
  background: @green;
  .footer-wrap {
    padding: 20px 55px;
    display: flex;
    justify-content: space-between;
    @media @desktop, @tablet {
      padding: 15px 35px;
    }
    @media @mobile {
      flex-direction: column;
      justify-content: center;
      padding: 10px;
    }
  }
  .code {
    @media @desktop-xl, @desktop, @tablet, @mobile {
      height: 80px;
      img {
        height: 100%;
        width: auto;
      }
    }
    @media @mobile {
      text-align: center;
    }
  }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-basis: 80%;
    @media @desktop-xl, @desktop {
      flex-basis: 65%;
    }
    @media @mobile {
      flex-basis: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
    li {
      width: 50%;
      display: flex;
      align-items: center;
      @media @mobile {
        width: auto;
        flex-wrap: wrap;
      }
      .ico {
        margin-right: 15px;
        @media @desktop-xl, @desktop {
          margin-right: 10px;
        }
        @media @mobile {
          margin-right: 0;
        }
      }
    }
    a, span {
      color: #fff;
    }
    a {
      .font-size(35);
      .ttu;
      .letter-spacing(-20);
      @media @desktop-xl {
        .font-size(22);
      }
      @media @desktop, @tablet {
        .font-size(18);
      }
      @media @mobile {
        .font-size(14);
      }
    }
    span {
      .font-size(30);
      @media @desktop-xl {
        .font-size(20)
      }
      @media @desktop, @tablet {
        .font-size(18);
      }
      @media @mobile {
        .font-size(14);
      }
    }
  }
}

.ico {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  @media @desktop-xl, @desktop, @tablet, @mobile {
    background-size: 60%;
  }
  &.ico-phone {
    background-image: url('../img/ico/ico-phone.png');
    width: 43px;
    height: 47px;
  }
  &.ico-male {
    background-image: url('../img/ico/ico-male.png');
    width: 41px;
    height: 26px;
  }
  &.ico-loc {
    background-image: url('../img/ico/ico-loc.png');
    width: 42px;
    height: 39px;
  }
}